<%= render 'tasks/navbar' %>

<div class="row">
  <div class="col-12 col-lg-4">
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-info d-flex justify-content-around align-items-center p-0">
        Staging
        <span class="badge badge-outline-primary badge-pill">
          <%= @tasks.where(status: 'staging').count %>
        </span>
      </div>  
      <div class="m-vh-75">
        <div class="list-group-item">
          <% @tasks.where(status: 'staging').each do |task| %>
            <%= render 'tasks/card', task: task %>    
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-success d-flex justify-content-around align-items-center p-0">
        Active
        <span class="badge badge-outline-primary badge-pill">
          <%= @tasks.where(status: 'active').count %>
        </span>
      </div>  
      <div class="m-vh-75">
        <div class="list-group-item">
          <% @tasks.where(status: 'active').each do |task| %>
            <%= render 'tasks/card', task: task %>    
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-12 col-lg-4">
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-secondary d-flex justify-content-around align-items-center p-0">
        Complete
        <span class="badge badge-outline-primary badge-pill">
          <%= @tasks.where(status: 'complete').count %>
        </span>
      </div>  
      <div class="m-vh-75">
        <div class="list-group-item">
          <% @tasks.where(status: 'complete').each do |task| %>
            <%= render 'tasks/card', task: task %>    
          <% end %>    
        </div>
      </div>
    </div>
    
  </div>
</div>