<!DOCTYPE html>
<html>
  <head>
    <title>Socialize</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container-fluid">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <%= render "layouts/sidebar" %>
      </nav>
      <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
